{% macro displayArticles(article_list) %}

    {% for news in article_list %}
    <div id="unordered">
        <div>
         <li><img src="{{ news.urlToImage }}"  alt="Photo"></li>
        </div>
        <div>
         <li><span id="italics" class="blockquote-footer">Title: </span>{{ news.title }}</li>
         <li><span id="italics" class="blockquote-footer">Author: </span>{{ news.author }}</li>
         <li><span id="italics" class="blockquote-footer">Description: </span>{{ news.description }}</li>
         <li><span id="italics" class="blockquote-footer">Published on: </span>{{ news.publishedAt }}</li>
         <li><a href="{{ news.url }}" target="_blank">Go to article</a></li>
        </div>
     </div>   
    {% endfor %}

{% endmacro %}



{% macro displaySources(source_list) %}

{% for source in source_list %}

<div class="border p-5" id="source">
<li><span id="italics" class="blockquote-footer">Source id: </span>{{ source.id }}</li>
<li><span id="italics" class="blockquote-footer">Source: </span>{{ source.name }}</li>
<li><span id="italics" class="blockquote-footer">Description: </span>{{ source.description }}</li>
<li><span id="italics" class="blockquote-footer">Category: </span>{{ source.category }}</li>
<li><span id="italics" class="blockquote-footer">Country: </span>{{ source.country }}</li>
<li><a href="{{  source.url  }}">Go to source</a></li>
</div>
{% endfor %}

{% endmacro %}



