<nav class="navbar  navbar-light bg-light container-fluid" id="navbar">
  <div class="collapse navbar-collapse container-fluid" id="navbarTogglerDemo01">
    <div>
    <h1  class="navbar-brand" href="#"><span class="display-1">OakNews App</span></h1>
    </div>
    <div>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-primary" href="{{ url_for('main.index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary"  href="{{ url_for('main.articles') }}">All articles</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



