{% extends 'base.html' %}
    
{% block start %}
<h1 class="text-center">United States business articles</h1>
<ul type="none">
    {% for news in us %}
       <div id="unordered">
           <div>
            <li><img src="{{ news.urlToImage }}"  alt="Photo"></li>
           </div>
           <div>
            <li><span id="italics" class="blockquote-footer text-center">Title: </span>{{ news.title }}</li>
            <li><span id="italics" class="blockquote-footer">Author: </span>{{ news.author }}</li>
            <li><span id="italics" class="blockquote-footer">About: </span>{{ news.description }}</li>
            <li><span id="italics" class="blockquote-footer">Published on: </span>{{ news.publishedAt }}</li>
            <li><a href="{{ news.url }}" target="_blank">Go to article</a></li>
           </div>
        </div>   
    {% endfor %}
</ul>

<h1 class="text-center">Apple News articles</h1>
<ul type="none">
    {% for news in apple %}
       <div id="unordered">
           <div>
            <li><img src="{{ news.urlToImage }}"  alt="Photo"></li>
           </div>
           <div>
            <li><span id="italics" class="blockquote-footer text-center">Title: </span>{{ news.title }}</li>
            <li><span id="italics" class="blockquote-footer">Author: </span>{{ news.author }}</li>
            <li><span id="italics" class="blockquote-footer">About: </span>{{ news.description }}</li>
            <li><span id="italics" class="blockquote-footer">Published on: </span>{{ news.publishedAt }}</li>
            <li><span id="italics" class="blockquote-footer">Content: </span>{{ news.content }}</li>
            <li><a href="{{ news.url }}" target="_blank">Go to article</a></li>
           </div>
        </div>   
    {% endfor %}
</ul>

<h1 class="text-center">Tesla News articles</h1>
<ul type="none">
    {% for news in tesla %}
       <div id="unordered">
           <div>
            <li><img src="{{ news.urlToImage }}"  alt="Photo"></li>
           </div>
           <div>
            <li><span id="italics" class="blockquote-footer text-center">Title: </span>{{ news.title }}</li>
            <li><span id="italics" class="blockquote-footer">Author: </span>{{ news.author }}</li>
            <li><span id="italics" class="blockquote-footer">About: </span>{{ news.description }}</li>
            <li><span id="italics" class="blockquote-footer">Published on: </span>{{ news.publishedAt }}</li>
            <li><span id="italics" class="blockquote-footer">Content: </span>{{ news.content }}</li>
            <li><a href="{{ news.url }}" target="_blank">Go to article</a></li>
           </div>
        </div>   
    {% endfor %}
</ul>
        
<h1 class="text-center">Techcrunch News articles</h1>
<ul type="none">
    {% for news in techcrunch  %}
       <div id="unordered">
           <div>
            <li><img src="{{ news.urlToImage }}"  alt="Photo"></li>
           </div>
           <div>
            <li><span id="italics" class="blockquote-footer text-center">Title: </span>{{ news.title }}</li>
            <li><span id="italics" class="blockquote-footer">Author: </span>{{ news.author }}</li>
            <li><span id="italics" class="blockquote-footer">About: </span>{{ news.description }}</li>
            <li><span id="italics" class="blockquote-footer">Published on: </span>{{ news.publishedAt }}</li>
            <li><span id="italics" class="blockquote-footer">Content: </span>{{ news.content }}</li>
            <li><a href="{{ news.url }}" target="_blank">Go to article</a></li>
           </div>
        </div>   
    {% endfor %}
</ul>
{% endblock%}
   
