{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block navbar %}
<nav class="navbar  navbar-light bg-light container-fluid" id="navbar">
    <div class="collapse navbar-collapse container-fluid" id="navbarTogglerDemo01">
      <h1  class="navbar-brand" href="#"><span class="display-1">OakNews App</span></h1>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <div id="ul">
        <div id="u">
            <li class="nav-item active">
                <a class="nav-link text-primary" href="{{ url_for('main.index') }}">Home</a>
              </li>
        </div>
        <div id="margin">
            <p><span id="italics" class="text-dark">Jump to source</span></p>
            <li class="nav-item active">
                <a class="nav-link text-primary" href="#one">United States business articles</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-primary" href="#two">Apple News articles</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-primary" href="#three">Tesla News articles</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-primary" href="#four">Techcrunch News articles</a>
              </li>
        </div>  
       </div>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
<h1 class="text-center" id="one">United States business articles</h1>
<ul type="none">
    {{ macro.displayArticles(us) }}
</ul>

<h1 class="text-center" id="two">Apple News articles</h1>
<ul type="none">
    {{ macro.displayArticles(apple) }}
</ul>

<h1 class="text-center" id="three">Tesla News articles</h1>
<ul type="none">
    {{ macro.displayArticles(tesla) }}
</ul>
        
<h1 class="text-center" id="four">Techcrunch News articles</h1>
<ul type="none">
    {{ macro.displayArticles(techcrunch) }}
</ul>

<a class="btn btn-primary" id="fixed" href="#navbar">Back to top</a>
{% endblock%}
   
